disturl=https://repo.example.com/nodejs
sass_binary_site=https://repo.example.com/node-sass/
phantomjs_cdnurl=https://repo.example.com/phantomjs
chromedriver_cdnurl=https://repo.example.com/chromedriver
operadriver_cdnurl=https://repo.example.com/operadriver
electron_mirror=https://repo.example.com/electron/
python_mirror=https://repo.example.com/python